* {
  box-sizing: border-box;
  margin: 0px;
  /* for google font  */
  font-family: "Epilogue", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}
main {
  max-width: 1232px;
  margin: 0 auto;
}
.btn-primary {
  background: #2d2d2d;
  padding: 24px 64px;
}
.btn-text {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600px;
}
nav {
  display: flex;
  align-items: center;
  padding: 24px 42px;
}
.logo-container {
  flex-grow: 1;
}
.logo {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

nav ul {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0px;
}
nav ul li {
  list-style: none;
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
}

/* nav design end  */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1232px;
  margin: 0 auto;
  padding: 42px 24px;
}
.banner-skills {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  margin: 0px 0px 24px 0px;
}
.banner-title {
  color: #2d2d2d;
  font-size: 68px;
  font-weight: 600;
  margin: 0px 0px 24px 0px;
}
.banner-description {
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
  margin: 0px 0px 48px 0px;
}

/* banner section end  */

.trusted-companies {
  display: flex;
  align-items: center;
  padding: 42px 48px;
}
.trusted-companies > div {
  text-align: center;
  flex-grow: 1;
}

/* skills  */
.skills {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 42px 24px;
}
.skills > div {
  padding: 64px 42px;
}
.skill-name {
  color: #2d2d2d;
  font-size: 27px;
  font-weight: 600;
  margin: 42px 0px 12px 0px;
}
.skill-details {
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
}

/* latest works  */
.latest-work-section {
  padding: 42px 24px;
}
.latest-works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.latest-work-section-title {
  text-align: center;
  color: #2d2d2d;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 42px;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-title {
  margin: 24px 0px 8px 0px;
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
}
.project-type {
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
}

/* testimonial  */
.testimonial-section {
  padding: 42px 24px;
}
.testimonial-section-title {
  margin-bottom: 42px;
  text-align: center;
  color: #2d2d2d;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.testimonials > div {
  padding: 42px;
  background: #f3f3f3;
}
.testimonial-details {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.testimonial-client-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 68px;
}
.client-name {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
}
.client-company {
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
}

/* footer  */
footer {
  max-width: 1232px;
  margin: 0 auto;
  display: flex;
  gap: 142px;
  padding: 42px 24px;
}
footer > div{
    width: 50%;
}
footer input{
    width: 100%;
    padding: 16px 24px;
    background: #F3F3F3;
}
.contact-heading {
  color: #2d2d2d;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.contact-details {
  color: #2d2d2d;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 42px;
}
.social-links > img{
    margin-right: 24px;
}

/* responsive for mobile device  */
@media screen and (max-width:767px){
  .banner {
   flex-direction: column;
   gap: 50px;
   text-align: center;
  }
  .banner-title {
    font-size: 58px;
  }
  
.trusted-companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.skills {
  flex-wrap: wrap;
}
.skills > div {
  padding: 30px 20px;
}
.latest-works {
  grid-template-columns: repeat(2, 1fr);
}
.testimonials {
  grid-template-columns: repeat(1, 1fr);
  
}
footer {
  flex-direction: column;
  gap: 20px;
}
footer > div{
  width: 100%;
}
}

/* responsive for tablet design  */
@media screen and (min-width: 768px) and (max-width: 991px){
  *{
    background-color: lightblue;
  }
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    
  }
  footer {
    flex-direction: column;
    gap: 20px;
  }
  footer > div{
    width: 100%;
  }
}
